        <div class="col-md-6 mt-5">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-primary-emphasis">O colete:</h5>
              <p class="card-text">Desenvolvemos um equipamento tecnológico acoplado a um colete confortável, ideal para o uso diário do idoso. Com sensores inteligentes, o dispositivo detecta quedas bruscas em tempo real e aciona automaticamente cuidadores e serviços de emergência cadastrados. Seu principal objetivo é garantir uma resposta rápida em situações em que o idoso não consegue pedir ajuda, promovendo mais segurança, autonomia e tranquilidade para ele e sua rede de apoio.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 text-end">
            <img src="{{ url_for('static', filename='images/arduino.png') }}" alt="Imagem do Arduino" class="img-fluid rounded" style="max-width: 90%;">
        </div>