<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FamilyCare</title>
  <meta name="description" content="Site informativo do FamilyCare: aplicativo de ajuda no cuidado de idosos, com foco em segurança, autonomia e dignidade." />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header class="site-header">
    <div class="container header-content">
      <button class="btn-seta" onclick="history.back()">
        ← Voltar
      </button>
      <a href="#" class="brand">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo FamilyCare" class="brand-logo">
        <span class="brand-name">FamilyCare</span>
      </a>
      <a class="brand"> O que é</a>
    </div>
  </header>  
  <section class="section">
    <div class="container">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-primary-emphasis">O que é?</h5>
          <p class="card-text">FamilyCare é um aplicativo desenvolvido para oferecer mais segurança e tranquilidade a idosos e seus familiares. Seu principal objetivo é notificar cuidadores imediatamente em casos de emergência, como quedas, que representam um risco significativo à saúde na terceira idade. O app funciona em conjunto com um colete equipado com sensores de queda, que detectam movimentos bruscos. Ao identificar uma possível queda, o sistema envia alertas em tempo real para os cuidadores cadastrados, possibilitando uma resposta rápida e eficaz. Além do sensor de quedas, o aplicativo voltado para o idoso conta com um botão de SOS, que pode ser acionado manualmente em qualquer situação de urgência, oferecendo mais autonomia e segurança.</p>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="{{ url_for('static', filename='images/idoso.png') }}" alt="Imagem de idoso" class="img-fluid rounded" style="max-width: 35%;">
    </div>
</body>
</html>