        <div class="col-12" id="introducao">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="card-title text-primary-emphasis">O que é?</h5>
              <p class="card-text">FamilyCare é um aplicativo desenvolvido para oferecer mais segurança e tranquilidade a idosos e seus familiares. Seu principal objetivo é notificar cuidadores imediatamente em casos de emergência, como quedas, que representam um risco significativo à saúde na terceira idade. O app funciona em conjunto com um colete equipado com sensores de queda, que detectam movimentos bruscos. Ao identificar uma possível queda, o sistema envia alertas em tempo real para os cuidadores cadastrados, possibilitando uma resposta rápida e eficaz. Além do sensor de quedas, o aplicativo voltado para o idoso conta com um botão de SOS, que pode ser acionado manualmente em qualquer situação de urgência, oferecendo mais autonomia e segurança.
                </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='images/idoso.png') }}" alt="Imagem de idoso" class="img-fluid rounded" style="max-width: 70%;">
        </div>